.check{
    float: right;
    width: 40%;
    background-image: url('../img/paper.jpg');
}

.check_input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin:10px auto;
}

.check_input>input{
    width: 80%;
}

.check__submit-button{
    margin:20px;
}

.check__errors{
    color: red;
}
.check_prices{
    margin:0 20px;
}

#check__titles{
    margin:20px 15%;
}

#phone::-webkit-outer-spin-button,#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#phone{
    -moz-appearance: textfield;
}

.check-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin:10px;
    list-style: none;
}

.check-item__number-input{
    width: 40px;
}

.check-item__name{
    flex-basis: 30%;
}