.menu{
    float: left;
    width:60%;
    background-color: #b3bfe5;
}

.menu_category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.menu-item{
    width: 200px;
    height: 100px;
}
